* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
}

body {
    font-family: 'New Amsterdam', sans-serif;
    background-color: #000;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.container {
    padding: 2rem;
}

.heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.btn {
    padding: 1rem;
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 0.7rem;
    cursor: pointer;
}

.result, 
.score {
    font-size: 1rem;
    margin-inline: 2rem;
}

.reset {
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 1rem;
    margin-inline: 2rem;
    cursor: pointer;
}